{% extends 'posts/base.html' %}

{% load static %}

{% block title %}
Instagram
{% endblock %}


{% block content %}
    <!--Continuos scroll of posts-->
    <section class="posts-scroll">
        <div class="posts-column">

            {% for post in posts %}
            <div class="post-card">
                <div class="post-author">
                    <img src="{{ post.user.profiles.profile_picture.url }}" alt="">
                    <div class="post-text">
                        <h5>{{ post.user.username }}</h5>
                        <p>{{ post.location}}</p>
                    </div>
                </div>

                <img 
                    src="{{ post.image.url }}" class="post-img"
                >

                <div class="post-captions">

                    <div class="post-actions">
                        <div class="right">
                            
                            <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in post.likes.all %}un{% endif %}like" class="like-{{ post.id }}">
                                {% if request.user not in post.likes.all %}
                                    <img 
                                        src="{% static 'img/heart.svg' %}" 
                                        height="24px"
                                        width="24px"
                                        alt="Like"
                                    >
                                {% else %}
                                    <img 
                                        src="{% static 'img/heart-like.svg' %}" 
                                        height="24px"
                                        width="24px"
                                        alt="Unlike"
                                    >  
                                {% endif %}     
                                <!-- <span style="visibility: hidden;">
                                    {{ post.id }}
                                </span>                          -->
                            </a>
                            <a href="#">
                                <img 
                                    src="{% static 'img/comments.svg' %}" 
                                    height="24px"
                                    width="24px"
                                    alt="Comment"
                                >  
                            </a>
                      
                        </div>

                        <div class="left">
                            <img 
                                src="{% static 'img/save.svg' %}" 
                                height="24px"
                                width="24px"
                                alt="Save"
                            >        
                        </div>

                        
                    </div>

                    <p>
                        <b><span class="like_total-{{ post.id }}">{{ post.likes.count }}</span> like{{ post.likes.count|pluralize }}</b>
                        <br>
                        <b>{{ post.user }}</b>
                        {{ post.caption }}
                    </p>
                </div>

            </div>


            {% endfor %}
        </div>

        <div class="suggestions-column">

            <div class="user-profile">
                <img src="{{ request.user.profiles.profile_picture.url }}" alt="daniel.eta" height="66px">
                <div class="text">
                    <p>
                        <b>{{ request.user.username }}</b>
                        <br>
                       {{ request.user.first_name }} {{ request.user.last_name }}
                    </p>
                </div>
            </div>

        </div>

        </div>
    </section>



{% endblock %}

{% block domready %}

{% for post in posts %}

$('a.like-{{ post.id }}').click(function(e){
    e.preventDefault();
    console.log('this works!');
    $.post('{% url "like" %}',
        {
            id: $(this).data('id'),
            action: $(this).data('action')
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var previous_action = $('a.like-{{ post.id }}').data('action');
                // toggle data-action
                $('a.like-{{ post.id }}').data('action', previous_action == 'like' ? 'unlike' : 'like');

                // toggle link image
                $('a.like-{{ post.id }} img').attr('src', previous_action == 'like' ? '{% static 'img/heart-like.svg' %}' : '{% static 'img/heart.svg' %}');
    
                // update total likes
                var previous_likes = parseInt($('span.like_total-{{ post.id }}').text());
    
                $('span.like_total-{{ post.id }}').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
            }
        }
    );
});
{% endfor %}
{% endblock %}
