{% extends 'posts/base.html' %}

{% load static %}

{% block title %}
Instagram
{% endblock %}


{% block content %}
    <!--Continuos scroll of posts-->
    <section class="posts-scroll">
        <div class="posts-column">

            {% for post in posts %}
            <div class="post-card">
                <div class="post-author">
                    <img src="{{ post.user.profiles.profile_picture.url }}" alt="">
                    <div class="post-text">
                        <h5>{{ post.user.username }}</h5>
                        <p>{{ post.location}}</p>
                    </div>
                </div>

                <img 
                    src="{{ post.image.url }}" class="post-img"
                >

                <div class="post-captions">

                    <div class="post-actions">
                        <div class="right">
                            <img 
                                src="{% static 'img/heart.svg' %}" 
                                height="24px"
                                width="24px"
                                alt="Like"
                            >
                            <img 
                                src="{% static 'img/comments.svg' %}" 
                                height="24px"
                                width="24px"
                                alt="Comment"
                            >                        
                        </div>

                        <div class="left">
                            <img 
                                src="{% static 'img/save.svg' %}" 
                                height="24px"
                                width="24px"
                                alt="Save"
                            >        
                        </div>

                        
                    </div>

                    <p>
                        <b>{{ post.likes.count }} like{{ post.likes.count|pluralize }}</b>
                        <br>
                        <b>{{ post.user }}</b>
                        {{ post.caption }}
                    </p>
                </div>

            </div>
            {% endfor %}
        </div>

        <div class="suggestions-column">

            <div class="user-profile">
                <img src="{{ request.user.profiles.profile_picture.url }}" alt="daniel.eta" height="66px">
                <div class="text">
                    <p>
                        <b>{{ request.user.username }}</b>
                        <br>
                       {{ request.user.first_name }} {{ request.user.last_name }}
                    </p>
                </div>
            </div>

        </div>

        </div>
    </section>

{% endblock %}